*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: linear-gradient(to right, #FFFDE4, #005AA7); 
    height:100%;
    width:100%;
    font-family: "Inter", sans-serif;


}

#root{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    

}

.topmost-container{
    width:75%;
    aspect-ratio: 1/0.5;
    background-color: white;
    opacity: 95%;
    display: grid;
    grid-template:1fr/repeat(5,1fr);
    column-gap: 1rem;
    padding: 1rem;
    border-radius: 1.5rem;
}

.info-container{
   display: flex;
   flex-direction: column;
   grid-column: span 2;
   background: linear-gradient(to right, #f1f5f9, #e2e8f0); 
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
   border-radius: 1rem;
   padding: 1rem 2rem;
   gap:1rem;
}
.heading-name-container{
    display: flex;
    flex-direction: column;
    /* border:1px solid blue; */
    gap:0.5rem;
}

.info-container h1{
    font-size: 3rem;
    /* border:1px solid red; */
    text-align: center;
    line-height: 1;
    margin: 0;
    font-weight: 800;
    color:#1e293b;

}
.subtitle{
    font-size: 1rem;
    line-height: 1;
    /* border: 1px solid green; */
    align-self: center;
    font-weight: 400;
    color:#64748b;
}

.rules-container{
    background-color: #ffffff;
    
    border-radius:1rem;
    padding:1em 1.5em;
    
}
.rules-container h2{
    color:#334155;
    font-weight: 600;
    font-family: "inter", sans-serif;
    font-size: 1.25rem;
    margin-bottom: 0.3em;
    
}
.rules-container p{
    font-size: 0.75rem;
    color:#64748b;
    font-weight: 400;
}

.info-container h3{
    font-size: 1.25rem;
    color:#1e293b;
    font-weight: 600;
}

.rules-container p{
    font-size: 1rem;
    font-weight: 400;
    font-family: "inter", sans-serif;
}

nav{
    display: grid;
    grid-template: 1fr/1fr 1fr;
    gap:1rem;
}
nav p{
    font-size: 1rem;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    background-color: #ffffff;
    border-radius: 1rem;
    font-weight: 600;
    color: #334155;
}
.for-best-roll, .for-best-time{
    font-size: 2rem;
    font-weight: 800;
    line-height: 1rem;
    padding-bottom: 0.75rem;
}
.for-best-roll{
    color:#059669;
}
.for-best-time{
    color:#ef4444;
}


/* rhs design */

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-column: span 3;
    background: linear-gradient(to right, #f8fafc, #f1f5f9);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
    border-radius:1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;

}
.begin-game-header{
    margin-bottom: 2rem;
}
.begin-game-header h2{
    font-family: "inter",sans-serif;
    color:#334155;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

}
.begin-game-header p{
    font-family: "inter", sans-serif;
    color:#64748b;
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
}

.dice-container{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    justify-items: center;
    gap:1rem;
    /* border: 1px solid red; */
}

.die{
    all: unset; 
    width: 60px;
    height: 60px;
    display: grid;
    background-color: grey;
    justify-items: center; 
    align-items: center;
    padding: 5px 10px;
    grid-template:repeat(3,1fr)/repeat(3,1fr);
    grid-template-areas: 
    "a . c"
    "d e f"
    "g . i";
    border-radius: 12px;;
    background: linear-gradient(145deg, #fefefe, #d1d1d1);
    box-shadow:
        inset 2px 2px 4px rgba(255, 255, 255, 0.8),  
        inset -3px -3px 6px rgba(0, 0, 0, 0.25),    
        0 4px 8px rgba(0, 0, 0, 0.25);             

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;

}
.die:hover {
    cursor: pointer;
    transform: rotateX(5deg) rotateY(5deg);
    box-shadow:
        inset 2px 2px 4px rgba(255, 255, 255, 0.7),
        inset -3px -3px 6px rgba(0, 0, 0, 0.2),
        0 8px 16px rgba(0, 0, 0, 0.3);
}

.die-selected{
  background: linear-gradient(145deg, #e53935, #a31515); 
  box-shadow:
    inset 2px 2px 4px rgba(255, 255, 255, 0.4),
    inset -3px -3px 6px rgba(0, 0, 0, 0.4),
    0 6px 12px rgba(0, 0, 0, 0.35);
}

.pip{
    display: block;
    width:14px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #111;
    box-shadow:
    inset 2px 2px 5px rgba(255, 255, 255, 0.2),
    inset -3px -3px 6px rgba(0, 0, 0, 0.8);
}

.pip-selected{
  background: #fff;
  box-shadow:
    inset 2px 2px 5px rgba(255, 255, 255, 0.6),
    inset -3px -3px 6px rgba(0, 0, 0, 0.4);
}

.pip:nth-child(2){
    grid-area:i;
}
.pip:nth-child(3){
    grid-area:c;
}
.pip:nth-child(4){
    grid-area:g;
}
.pip:nth-child(5){
    grid-area:d;
}
.pip:nth-child(6){
    grid-area:f;
}

.pip:nth-child(odd):last-child{
    grid-area:e;
}

.game-progress{
    justify-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color:#ffffff;
    /* border:1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 1rem;
    gap:1em
}

.game-progress p{
    font-size: 0.75rem;
    width:70px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    font-weight: 600;
}


.roll-current {
    color:#059669;
    border-color: #059669;
    background-color: rgba(5, 150, 105, 0.2);
}
.time-current{
    color:#ef4444;
    border-color: #e53935;
    background-color:rgba(229, 57, 53, 0.2)
}
.progress-current{
    color:#3b82f6;
    border-color: #1d4ed8;
    position: relative;
    
}
.progress-current div{
    background-color:rgba(59, 130, 246, 0.2);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:none;
    position: absolute;
    bottom: 0;
}

.game-progress p span{
    font-weight: 800;
    font-size: 1.5rem;
}


.game-btn{
    display:inline-block;
    width:fit-content;
    align-self: center;
    padding: 1rem 1.5rem;
    border-radius: 9999px;
    background-color: #e53935;
    color:#ffffff;
    border:none;
    cursor:pointer;
}












.shake-element {
    animation: shake 0.5s; 
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}